body {
    font-family: Roboto, sans-serif;
    color: black;
}
.button-primary:hover ,
.button-primary:active {
    cursor: pointer;
}
.main-footer {
    background-color: #2F303A;
    color: black;
}
.main-first {
    background-color:#2F303A;
    color: white;
    text-align: center;
}
.header-background {
    color: black;
}
.section:hover,
.section:active {
    cursor: pointer;
    color: #2196f3;
}
link:hover {
    text-decoration-color: #2196F3;
}
h2 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #212121;
}
.buttons:hover ,
.buttons:active {
    cursor: pointer;
    background: #2196F3;
    color: #FFFFFF;

}
ul {
    list-style-type: none;
}
button {
    color: #FFFFFF;
    background-color: #2196F3;
    border: #2196F3;
}
.buttons {
    color: #212121;
    background-color:#F5F4FA; 

}